* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'New Tegomin', serif;
  color: white;
  min-height: 100vh;
  background-image: linear-gradient(
      0deg,
      rgba(10, 10, 20, 0.9),
      rgba(50, 50, 0, 0.8)
    ),
    url("./img/banner 1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.todo-head {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  color: #56fff9;
  margin-top: 5rem;
}
.todo-form {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-form form {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5rem;
  color: white;
}
.input-group {
  display: flex;
  align-items: center;
  padding: 0;
  border: 1px solid #000000;
  background: white;
  color: black;
  border-radius: 1.2rem;
}
.input-group label {
  margin: 0 0.3rem;
  font-size: 2rem;
  align-self: center;
}
.todo-input {
  text-transform: capitalize;
  font-size: 1.5rem;
  border: none;
  outline: none;
  border-radius: 1.2rem 0 0 1.2rem;
  background-color: transparent;
}
.todo-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0.5rem;
}
.todo-button i {
  padding-top: 0.2rem;
}
.todo-button i:hover {
  color: #fb3706;
}
.todo-button i {
  color: #fb8b1f;
}
.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.todo-list {
  font-size: 1rem;
  font-weight: bold;
  list-style: none;
}
.todo-div {
  min-width: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.3rem;
  padding: 0 1rem;
  background-color: white;
  color: black;
  border-radius: 1.2rem;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.fa-check, .fa-trash {
  pointer-events: none;
}
.todo-list .todo-div li {
  flex: 1;
  font-size: 1.6rem;
  text-transform: capitalize;
}
.todo-list .todo-div button {
  border: none;
  border-radius: unset;
  transform: translateX(1rem);
  cursor: pointer;
  padding: 0.6rem;
  background-color: #f84e1c;
  color: white;
  -webkit-border-radius: unset;
  -moz-border-radius: unset;
  -ms-border-radius: unset;
  -o-border-radius: unset;
}
 .list-check-btn{
  background-color: #51d020 !important;
} 
.list-del-btn {
  border-radius: 0 1.2rem 1.2rem 0 !important;
  -webkit-border-radius: 0 1.2rem 1.2rem 0 !important;
  -moz-border-radius: 0 1.2rem 1.2rem 0 !important;
  -ms-border-radius: 0 1.2rem 1.2rem 0 !important;
  -o-border-radius: 0 1.2rem 1.2rem 0 !important;
}
.done {
  text-decoration: line-through;
  color: orange;
  opacity: 0.5;
}
.fall{
  transform: translateY(8rem) rotateZ(30deg);
  -webkit-transform: translateY(8rem) rotateZ(30deg);
  -moz-transform: translateY(8rem) rotateZ(30deg);
  -ms-transform: translateY(8rem) rotateZ(30deg);
  -o-transform: translateY(8rem) rotateZ(30deg);
  opacity: 0;
}
.select-div {
  margin-left: 1rem;
  position: relative;
  overflow:hidden;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}
.filter-todo {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  border: none;
  outline: none;
  font-size: 1.3rem;
  padding: 0.3rem 1rem 0.3rem 0.3rem;
  cursor:pointer;
}
.select-div::after{
  content: '\25bc';
  padding: 0.3rem 0.4rem 0.4rem;
  color:white;
  background-color: #fb8b1f;
  position:absolute;
  top: 0;
  right: 0;
  pointer-events:none;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.select-div:hover::after{
  color:#fb8b1f;
  background-color: white;
}
